* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #b1b1b1;
  margin-bottom: 40px;
}

.logo {
  width: 20%;
  height: 100%;
  background: url('./img/ubank-logo.png') no-repeat center;
  background-size: 100%;
  cursor: pointer;
}

.login-wrapper {
  width: 60%;
}

.login-wrapper form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.login-wrapper input {
  padding: 7px;
  font-size: 1rem;
  border: 2px solid #b1b1b1;
  border-radius: 8px;
}

.login-wrapper button {
  padding: 8px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
}

.login-wrapper button:hover {
  cursor: pointer;
}

.welcome-message {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-style: italic;
}


/* Welcome Box */

.welcome-box {
  display: flex;
  justify-content: center;
  height: auto;
  padding: 0 100px;
  margin-top: 70px;
}

.welcome-image {
  background: url('./img/banking-girl.png') no-repeat center;
  background-size: 100%;
  width: 40%;
  border-radius: 10px;
}

.welcome-text {
  padding: 50px;
  height: 300px;
  width: 60%;
}

.welcome-text p {
  font-size: 1.1rem;
  margin-top: 25px;
}

.welcome-text button {
  background-color: #733434;
  color: #f2edd0;
  padding: 5px 10px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
}

.welcome-text button:hover {
  cursor: pointer;
}

.main-wrapper {
  opacity: 0;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  transition: all 1.5s;
}

/* ACCOUNT DETAILS */
.account-details-window {
  background-color: #ece9e9;
  border-radius: 10px;
  width: 45%;
  padding: 30px;
}

.account-details-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.current-balance-container {
  display: flex;
  align-items: flex-end;
}

.balance {
  font-weight: bold;
}

.account-details-summary {
  background-color: #f8f8f8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5px;
  height: 50px;
}

.account-details-summary p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deposits-total {
  color: rgb(114, 230, 96);
}

.withdrawals-total {
  color: rgb(247, 104, 75);
}

/* Transaction Styling */

.transaction-single {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0px 30px;
  margin-bottom: 5px;
}

.transaction-type-deposit {
  background-color: rgb(114, 230, 96);
  color: #f8f8f8;
  padding: 5px 15px;
  border-radius: 10px;
}

.transaction-type-withdrawal {
  background-color: rgb(247, 104, 75);
  color: #f8f8f8;
  padding: 5px 15px;
  border-radius: 10px;
}

/* SERVICES */

.services-window {
  background-color: #ece9e9;
  border-radius: 10px;
  width: 30%;
  padding: 30px;
  height: 550px;
}

.services-window h2 {
  margin-bottom: 10px;
}

.account-details-window h2,
.services-window h2 {
  color: #333;
  /* border-bottom: 2px solid #333; */
  /* margin-bottom: 50px; */
}

.current-date {
  font-style: italic;
}

.services-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.services-wrapper h4 {
  border-bottom: 1px solid #333;
}

.services {
  display: flex;
  font-size: .9rem;
}

.services p {
  margin-bottom: 5px;
}

.services input {
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}


.form-group:last-child {
  width: 50%;
  align-items: flex-end;
}

.services input {
  height: 30px;
  border-radius: 8px;
  border: none;
  padding-left: 10px;
}

.services-btn {
  border-radius: 8px;
  border: none;
  width: 70%;
  height: 50%;
  background-color: #733434;
  color: #f2edd0;
  font-size: 0.9rem;
}

.services-btn:hover {
  cursor: pointer;
  background-color: hsl(0, 38%, 42%);
}

.username,
.password {
  margin-right: 50px;
}



#loan-status {
  background-color: #ece9e9;
  padding-left: 0;
}

#btn-login,
#btn-logout {
  background-color: #733434;
  color: #f2edd0;
}



.approved {
  color: rgb(114, 230, 96);
}

.denied {
  color: rgb(247, 104, 75);
}


.small {
  font-size: 1rem;
}